body {
  background-color: #262626;
}

/*pagina principal*/

.homePage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
}

.resume {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #dadada;
  font-family: "Poppins", sans-serif;
}

.navegacao {
  background-color: #ffffff08;
  font-family: "Outfit", sans-serif;
}

.socialmedia {
  margin-top: 60px;
}

.nav-link {
  color: #dadada;
}

.lead {
  font-family: "Poppins";
}

/* text */

.texts {
  font-family: "Outfit", sans-serif;
  padding: 0rem 0rem 0rem 2rem;
  color: #dadada;
}

.subtitle {
  text-align: center;
  color: #dadada;
  font-family: "Outfit", sans-serif;
  margin-top: 10px;
}
.titles {
  font-family: "Grandiflora One", sans-serif;
  padding: 2rem;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: #4d4a8c;
  text-shadow: 2px 1.5px #4d818c;
}

/* columns */

.pagecontent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  border-top: 1px solid #4d4a8c;
  border-bottom: 1px solid #4d4a8c;
  border-radius: 10px;
  height: 70%;
  width: 100%;
  max-width: 1200px;
}

.col {
  text-align: justify;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #dadada;
  height: 100%;
}

.text-col {
  padding: 10px;
  text-align: justify;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 70vh;
}

.images {
  max-height: 90%;
  width: auto;
  border: 1px solid #4d4a8c;
  border-radius: 5px;
  padding: 8px;
}

.card {
  background-color: transparent;
  border: 2px solid #4d4a8c;
  border-radius: 10px;
  color: #dadada;
  text-align: justify;
  font-family: "Outfit", sans-serif;
  height: 90%;
}

.links {
  display: flex;
  justify-content: left;
  align-items: bottom;
  margin-bottom: 10px;
  margin-left: 10px;
}

.btn {
  background-color: #4d4a8c;
  border: #4d4a8c;
  color: #dadada;
}

.tags {
  padding: 10px;
}

.bg-java {
  background-color: #efc573;
}

.bg-css {
  background-color: #f24405;
}

.bg-js {
  background-color: #4d818c;
}

.bg-html {
  background-color: #d98f9d;
}

.skillscol {
  display: flex;
  justify-content: center;
  margin-top: -70px;
}

.skillsicon {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
