body {
  background-color: #262626;
}

/*pagina principal*/

.homePage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
}

.resume {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.navegacao {
  background-color: #ffffff08;
  font-family: "Outfit", sans-serif;
}

.socialmedia {
  margin-top: 60px;
}

.nav-link {
  color: white;
}

.lead {
  font-family: "Poppins";
}

/* text */
.texts {
  font-family: "Outfit", sans-serif;
  padding: 0rem 0rem 0rem 2rem;
  color: white;
}

.subtitle {
  text-align: center;
  color: white;
  font-family: "Outfit", sans-serif;
  margin-top: 10px;
}
.titles {
  font-family: "Grandiflora One", sans-serif;
  padding: 2rem;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: white;
}

/* columns */

.row {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 10px;
  height: 70%;
  width: 100%;
  max-width: 1200px;
}

.pagecontent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  text-align: justify;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
}

.text-col {
  padding: 10px;
  text-align: justify;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 70vh;
  overflow: hidden; /* evita que a imagem ultrapasse */
}

.images {
  max-height: 90%;
  width: auto;
}

.card {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  text-align: justify;
  font-family: "Outfit", sans-serif;
  height: 90%;
}

.linksAndTags {
  display: flex;
  justify-content: left;
  align-items: bottom;
  margin-bottom: 10px;
  margin-left: 10px;
}

.skillscol {
  display: flex;
  justify-content: center;
  margin-top: -70px;
}

.skillsicon {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  color: white;
}

/* rtl:begin:remove */
.featurette-heading {
  font-family: "Poppins";
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
